.process-section {
  padding: map-get($spacing-scale, 6) 0;
  font-family: $font-bold;

  .process-heading {
    text-align: center;

    .subtitle {
      font-size: 14px;
      color: $color-text-light;
      letter-spacing: 2px;
      margin-bottom: map-get($spacing-scale, 2);
      font-weight: $fw-medium;
    }

    h2 {
      font-size: $fs-h2;
      font-weight: $fw-bold;
      color: $color-text-dark;
    }
  }

  .process-row {
    display: flex;
    align-items: center;
    gap: map-get($spacing-scale, 5);
    margin-top: map-get($spacing-scale, 6);

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  .process-img img {
    width: 500px;
    border-radius: 14px;
  }

  .process-content {
    flex: 1;

    .step-number {
      font-size: 40px;
      color: $color-primary;
      font-weight: $fw-bold;
      opacity: .25;
    }

    h3 {
      font-size: $fs-h4;
      font-weight: $fw-bold;
      margin: map-get($spacing-scale, 1) 0 map-get($spacing-scale, 3) 0;
    }

    .step-item {
      display: flex;
      gap: 12px;
      margin-bottom: map-get($spacing-scale, 3);

      i {
        color: $color-primary;
        margin-top: 4px;
      }

      h4 {
        font-size: 18px;
        font-weight: $fw-medium;
      }

      p {
        color: $color-text-gray;
      }
    }
  }

  .process-footer {
    text-align: center;
    margin-top: map-get($spacing-scale, 6);

    p {
      max-width: 600px;
      margin: 0 auto map-get($spacing-scale, 3);
      color: $color-text-gray;
    }

    .btn-black {
      background: $color-btn-bg;
      color: $color-btn-text;
      padding: 14px 34px;
      border-radius: $radius-btn;
      font-weight: $fw-medium;
      display: inline-block;
    }
  }
}


@media (max-width: 900px) {
  .process-section {

    .process-row,
    .process-row.reverse {
      flex-direction: column;
      text-align: center;

      .step-item {
        justify-content: center;
      }
    }
  }
}