.testimonials-section {
    background: $color-light-bg;
    padding: map-get($spacing-scale, 6);
    font-family: $font-bold;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: map-get($spacing-scale, 5);
        flex-wrap: wrap;

        .subtitle {
            font-size: 12px;
            letter-spacing: 2px;
            color: $color-text-light;
            text-transform: uppercase;
            margin-bottom: map-get($spacing-scale, 1);
        }

        .title {
            font-size: $fs-h2;
            font-weight: $fw-bold;
            color: $color-text-dark;
            font-family: $font-bold;
        }

        .view-all {
            color: $color-primary;
            font-weight: $fw-medium;
            font-size: 14px;
            text-decoration: none;
        }
    }

    .testimonials-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: map-get($spacing-scale, 4);

        .testimonial-card {
            background: #fff;
            padding: map-get($spacing-scale, 4);
            border-radius: 10px;
            height: 288px;
            width: 85%; 
            max-width: 364px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
            margin: auto; 

            .profile {
                display: flex;
                align-items: center;
                gap: map-get($spacing-scale, 2);

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }

                .name-role {
                   

                    h4 {
                        font-size: 14px;
                        color: $color-text-dark;
                    }
                }
            }

            hr {
                border: none;
                border-top: 1px solid #eee;
                margin: map-get($spacing-scale, 3) 0;
            }

            .text {
                color: $color-text-gray;
                font-size: 15px;
                line-height: 1.6;
            }
        }
    }

    
    @media (max-width: 992px) {
        .testimonials-wrapper {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 600px) {
        .testimonials-wrapper {
            grid-template-columns: 1fr;
        }

        .header {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }
}
