@import './variables';
@import './navbar';
@import './footer';
@import './bannerr';
@import './stats';
@import './about';
@import './service';
@import './whychoose';
@import './pricing';
@import './works';
@import './contact.scss';



